<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div id="lexcontainer">

</div>
<script src="https://uat-eip.cs34.force.com/inbound/lightning/lightning.out.js"></script>
<script>
    $Lightning.use("c:lightningOutGuest",
        function() {                  // Callback once framework and app load
            $Lightning.createComponent(
                "lightning:flow",    // top-level component of your app
                { },    // attributes to set on the component when created
                "lexcontainer",    // the DOM location to insert the component
                function(component) {            // API name of the Flow
                    component.startFlow("Inbound_Test");
                }
            );
        },    'https://uat-eip.cs34.force.com/inbound'  // Community endpoint
    );
</script>
</body>
</html>